
@{
    ViewData["Title"] = "Index";
}
<header>
    <div class="main">
        <div class="logo">
            <img src="~/images/airlineicondownload.png" />
        </div>
        <br />
        <br />
        
        <div class="title">
            <h1>CORNHUSKER AIRWAY-CHA</h1>
        </div>
        <br />
        
        <ul>
            <li ><a href="/Home">Home</a></li>
            <li><a href="/Crewmems">Crew schedule</a></li>
            <li class="active"><a href="/AboutUs">About Us</a></li>
            <li><a href="/ContactUs">Contact Us</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
        <br />
        <br />
        <br />
        <br />
        <br />
        <p class="aboutus">
            Cornhusker Airways (CHA) is a small regional airline that flies out of Lincoln, Nebraska; Iowa
            City, Iowa; Evanston, Illinois; and West Lafayette, Indiana.
        </p>

        
        <br />
    </div>
</header>