@model CHA.Data.LoginData

@{
    ViewData["Title"] = "Index";
}
<header>
    <div class="main">
        <div class="logo">
            <img src="~/images/airlineicondownload.png" />
        </div>


        <div class="title">
            <h1>CORNHUSKER AIRWAY-CHA</h1>
        </div>
        <br />
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Crewmems">Crew schedule</a></li>
            <li><a href="/AboutUs">About Us</a></li>
            <li><a href="/ContactUs">Contact Us</a></li>
            <li class="active"><a href="/Login">Login</a></li>
        </ul>


    </div>
</header>
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h1>Sign Up</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SignUp" class="btn btn-primary" />
            </div>

            <br />
            <p>Already have account? </p>
            <div>
                <a href="/Login">LogIn</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
