
@{
    ViewData["Title"] = "Index";
}


<header>
    <div class="main">
        <div class="logo">
            <img src="~/images/airlineicondownload.png" />
        </div>

        <div class="title">
            <h1>CORNHUSKER AIRWAY-CHA</h1>
        </div>
        <br />
        <br />
        <br />
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/CrewSchedule">Crew schedule</a></li>
            <li class="active"><a href="/AboutUs">About Us</a></li>
            <li><a href="/ContactUs">Contact Us</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>    
</header>
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div style="text-align:center">
        <h2>Contact Us</h2>
  
    </div>
    <div class="row">
        <div class="column">
            <img src="/images/download.png"style="width:100%">
        </div>
        <div class="column">
            <form action="/action_page.php">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>