@page
@model Crew.Pages.HomeModel
@{
}
<!DOCTYPE html>
<html>
<body>
    <font color="#2BA8B9" size="5">
        <marquee><b><i>THANKS FOR VISITING</i></b></marquee>
    </font>
    <br />
    <header>
        <div class="main">
            <div class="logo">
                <img src="~/images/airlineicondownload.png" />
            </div>
            <br />
            <br />
            <br />
            <div class="title">
                <h1>CORNHUSKER AIRWAY-CHA</h1>
            </div>

            <br />
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Crew schedule</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Login</a></li>

            </ul>
            <br />
            <div class="background">
                <img src="~/images/flightdownload.jpg" />
            </div>
        </div>
    </header>
</body>

</html>

