@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="main">
        <div class="logo">
            <img src="~/images/airlineicondownload.png" />
        </div>
        <br />
        <br />
        <div class="title">
            <h1>CORNHUSKER AIRWAY-CHA</h1>
        </div>
        <br />
        <br />
        <ul>
            <li class="active"><a href="/Home">Home</a></li>
            <li><a href="/Crewmembers">Crew schedule</a></li>
            <li><a href="/AboutUs">About Us</a></li>
            <li><a href="/ContactUs">Contact Us</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="background">
            <img src="~/images/flightdownload.jpg" />
        </div>
        <br />
    </div>
</header>