@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="main">
        <div class="row">
            <div class="col-md">
                <div class="major-para">
                    <h1 class="logo-title">Cornhusker Airways</h1>
                    <br />
                    <h2> Who we are</h2>
                    <p>
                        We are Cornhusker Airways (CHA), a small regional airline that flies out of Lincoln, Nebraska; Iowa
                        City, Iowa; Evanston, Illinois; and West Lafayette, Indiana.
                    </p>
                </div>
            </div>

            <div class="col-md">
                <div class="background">
                    <img src="~/images/flightdownload.jpg" />
                </div>
            </div>
            <br />
        </div>
    </div>
</header>
<br />
<font color="#13E4A5" size="8">
    <marquee><b><i> WE ARE PLEASE TO SERVE YOU !!!</i></b></marquee>
    
</font>