@page
@model Crew.Pages.CrewScheduleModel
@{
}
<!DOCTYPE html>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="~/images/airlineicondownload.png" />
            </div>
            <div class="title">
                <h1>CORNHUSKER AIRWAY-CHA</h1>
            </div>
            <ul>
                <li><a href="/Home">Home</a></li>
                <li class="active"><a href="/CrewSchedule">Crew schedule</a></li>
                <li><a href="/AboutUs">About Us</a></li>
                <li><a href="/ContactUs">Contact Us</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <br />
    </header>
    <br />
    <br />
    <br />
    <br />
    <table style="width:100%">

        <tr style="width:70%">
            <th>Flight ID</th>
            <th>Employee ID</th>
            <th>Date</th>
            <th>Total time</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>Status</th>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>

    </table>
</body>