@page
@model Crew.Pages.HomeModel
@{
}
<!DOCTYPE html>
<html>
<body>
    <font color="#2BA8B9" size="5">
        <marquee><b><i>THANKS FOR VISITING</i></b></marquee>
    </font>
    <br />
    <header>
        <div class="main">
            <div class="logo">
                <img src="~/images/airlineicondownload.png" />
            </div>
            <br />
            <br />
            <br />
            <div class="title">
                <h1>CORNHUSKER AIRWAY-CHA</h1>
            </div>

            <br />
            <ul>
                <li class="active"><a href="#Home">Home</a></li>
                <li><a href="#CrewSchedule">Crew schedule</a></li>
                <li><a href="#AboutUs">About Us</a></li>
                <li><a href="#ContactUs">Contact Us</a></li>
                <li><a href="#login">Login</a></li>

            </ul>
            <br />
            <div class="background">
                <img src="~/images/flightdownload.jpg" />
            </div>
            <a href="login" target="Login">Home</a>


        </div>
    </header>
</body>

</html>

