@page
@model Crew.Pages.loginModel
@{
}
<!DOCTYPE html>
<html>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="~/images/airlineicondownload.png" />
            </div>
            <div class="title">
                <h1>CORNHUSKER AIRWAY-CHA</h1>
            </div>
            <br />
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/CrewSchedule">Crew schedule</a></li>
                <li><a href="/AboutUs">About Us</a></li>
                <li><a href="/ContactUs">Contact Us</a></li>
                <li class="active"><a href="/login">Login</a></li>
            </ul>
        </div>
    </header>
    <br />
    <br />
    <div class="text-center">
        <div class="general-container">
            <img src="/images/download_login_icon.png" style="width: 100px; height: 100px;" />
            <h1 class="display-4">
                Log In
            </h1>
            <form>
                <br />
                <div>
                    <input type="email" placeholder="Email Address" asp-for="Email" />
                    <br />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <div>
                    <input type="password" placeholder="Password" asp-for="Password" />
                    <br />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />
                <div>
                    <input type="submit" value="Submit" />
                </div>
                <br />
                <div>
                    <a href="/signup">Create an Account</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
