@page
@model Crew.Pages.loginModel
@{
}

<header>
    <div class="main">
        <div class="logo">
            <img src="~/images/airlineicondownload.png" />
        </div>
        <br />
        <br />
        <br />
        
        <div class="title">
            <h1>CORNHUSKER AIRWAY-CHA</h1>
        </div>
        <br />
 
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Crew schedule</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li class="active"><a href="#">Login</a></li>

        </ul>
    </div>
</header>
<br />
<br />
<br />



<div class="text-center">
    <div class="general-container">
        <img src="/images/download_login_icon.png" style="width: 128px; height: 128px;" />
        <h1 class="display-4">
            Log In
        </h1>
        <form>
            <br />
            <div>
                <input type="email" placeholder="Email Address" asp-for="Email" />
                <br />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div>
                <input type="password" placeholder="Password" asp-for="Password" />
                <br />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div>
                <input type="submit" value="Submit" />
            </div>
            <br />
            <div>
                <a href="/CreateAccount">Create an Account</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
