/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* Sticky home styles
-------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

.header {
    background-image: url(../images/flightdownload.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 20px;
}


    ul li {
        display: inline-block
    }

ul li a {
    text-decoration: none;
    color: darkblue; /*darkturquoise*/
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li.active a {
    background-color: darkcyan;
    color: #000;
}

ul li a:hover {
    background-color: darkcyan;
    color: #000;
}

.logo img {
    float: left;
    width: 80px;
    height: auto;
}

.background img {
    height: auto; /*auto*/
    background-size: cover;
    background-position: bottom;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.title {
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-50%,-50%);
}
.title h1 {
    color: darkturquoise;
    font-size: 30px;
}

/*Crew table*/
.crew_title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.crew_title h1 {
    color: darkturquoise;
    font-size: 30px;
}

table, th, td {
    border: 1px solid black;
}

th {
    color: black;
    background-color: darkcyan;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

td {
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.table table-bordered {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    top: 50%;
}
/*About Us*/
.aboutus{
    color:teal;
    font-size:larger;
    position: center;
}
/*Contact Us*/
* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }


/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.AirportTableLeft {
    float: left,
}

.AirportTableRight {
    float: right,
}